.footer-card{
    .container{
        
        .footer-info{
            display: flex;
            justify-content: space-between;
            transition: .5s;
            .contact-info{
                display: flex;
                gap: 20px;
                flex-direction: column;
              .footer-logo{
                display: flex;
                align-items: center;
                gap: 8px;
                img{
                    width: 56px;
                    height: 56px;
                }
                .footer-logo-txt{   
                    h2{
                        color: #3BB77E;
                        font-size: 28px;
                        font-weight: 700;
                    }
                    h3{
                        color:  #ADADAD;
                        font-size: 14px;
                        font-weight: 500;
                    }

                }
              }  
            }
            .info{
                transition: .10s;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: #253D4E;
                        font-size: 16px;
                        font-weight: 500;
                        img{
                          width: 18px;
                          height: 18px;  
                        }

                    }
                }
            }

            ul{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                h2{
                    color: #253D4E;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                li{
                    &:hover {
                            transform: scale(1.01);
                            color: #253D4E;
                        }
                }
            }
            
        }

        .line2{
            width: 1200px;
            height: 2px;
            background: #adadad43;
            margin: 70px 0 29px 0;
        }
        .bottom-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 29px;
            p{
                color:  #253D4E;
                font-size: 16px;
                font-weight: 500;
            }
            .payment{
               img{
                width: 224px;
                height: 32px;
               } 
            }
            .footer-ikons{
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 6px;
                img{
                    width: 44px;
                    height: 44px;
                }
            }

        }
    }
}








